// Fonts
$font-family-body = "Menlo", "Meslo LG", monospace
$font-family-mono = "Menlo", "Meslo LG", monospace
$font-family-tt = "Inconsolata", monospace
$font-size = 14px
$line-height = 1.725
$page-width = 0rem + 48
// Logo
$logo-width = 50px 
$logo-height = 50px
// Colors
$colors = "dark"
