			<header id="header">
				<a href="#">
					<div id="logo" style="background-image: url(<%=relative_path%>images/logo.png);"></div>
					<div id="title">
						<h1>Cactus Dark</h1>
					</div>
				</a>
				<div id="nav">
					<ul>
						<li class="icon">
							<a href="#"><i class="fas fa-bars fa-2x"></i></a>
						</li>
						<li><a href="./">Home</a></li>
						<li><a href="about">About</a></li>
						<li><a href="archives">Writing</a></li>
						<li><a href="projects">Projects</a></li>
					</ul>
				</div>
			</header>