<%- include('_header',{type: "index"}); %>
			<article class="post" itemscope itemtype="http://schema.org/BlogPosting">


				<div class="content" itemprop="articleBody">

					<p>Hi, I’m a theme for the <a href="http://hexo.io" target="_blank" rel="noopener">Hexo</a> blogging framework.
						I’m particularly great for a personal web page with a simple blog.</p>
					<p><img src="images/cactus.png" width="200"></p>
					<p>These are my best features:</p>
					<ul>
						<li>I am fully responsive</li>
						<li>I support <a href="https://disqus.com" target="_blank" rel="noopener">Disqus</a> integration</li>
						<li>I support <a href="https://analytics.google.com" target="_blank" rel="noopener">Google Analytics</a></li>
						<li>I have a configurable navigation menu</li>
						<li>I support several code highlighting schemes</li>
						<li>I have <a href="http://fontawesome.io" target="_blank" rel="noopener">Font Awesome</a> icons</li>
						<li>I can live for months without <i class="fa fa-tint" aria-hidden="true"></i></li>
					</ul>
					<p>Clone or fork <a class="icon" target="_blank" href="http://github.com/probberechts/cactus-dark" title="github">my
							<i class="fab fa-github"></i> repo</a> if you like me!</p>


				</div>
			</article>
<%- include('_footer',{type: "index"}); %>			