<%- include('_header',{type: "about"}); %>
	<article class="post" itemscope itemtype="#">
		<div class="content" itemprop="articleBody">
			<%-describe._render%>
			<%if(config.comment&&config.comment.gitalk&&config.comment.gitalk.clientID){%>
				<%- include('comment',{type: "post",'pname':'文章'});%>
			<%}%>
		</div>
	</article>

<%- include('_footer',{type: "about"}); %>			