<%- include('_header',{type: "message"}); %>
	<article class="post" itemscope itemtype="#">
		<div class="content" itemprop="articleBody">
			<%-describe._render%>
			<%if(config.comment&&config.comment.gitalk&&config.comment.gitalk.clientID){%>
				<%- include('comment',{type: "message"});%>
			<%}%>
		</div>
	</article>

<%- include('_footer',{type: "message"}); %>			