<%- include('_header',{type: "post"}); %>
	<div id="header-post">
		<a id="menu-icon" href="#">
			<i class="fas fa-bars fa-lg"></i>
		</a>
		<a id="menu-icon-tablet" href="#"><i class="fas fa-bars fa-lg"></i></a>
		<a id="top-icon-tablet" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');" style="display:none;"><i
			 class="fas fa-chevron-up fa-lg"></i>
		</a>
		<span id="menu">
			<span id="nav">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="about/">About</a></li>
					<li><a href="archives/">Writing</a></li>
					<li><a href="projects/">Projects</a></li>
				</ul>
			</span>
	
			<br />
			<span id="actions">
				<ul>
					<li>
						<a class="icon" href="#">
							<i class="fas fa-chevron-left" aria-hidden="true" onmouseover="$('#i-prev').toggle();" onmouseout="$('#i-prev').toggle();"></i>
						</a>
					</li>
					<li>
						<a class="icon" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');">
							<i class="fas fa-chevron-up" aria-hidden="true" onmouseover="$('#i-top').toggle();" onmouseout="$('#i-top').toggle();"></i>
						</a>
					</li>
					<li>
						<a class="icon" href="#">
							<i class="fas fa-share-alt" aria-hidden="true" onmouseover="$('#i-share').toggle();" onmouseout="$('#i-share').toggle();"
							 onclick="$('#share').toggle();return false;"></i>
						</a>
					</li>
				</ul>
				<span id="i-prev" class="info" style="display:none;">Previous post</span>
				<span id="i-next" class="info" style="display:none;">Next post</span>
				<span id="i-top" class="info" style="display:none;">Back to top</span>
				<span id="i-share" class="info" style="display:none;">Share post</span>
			</span>
			<br />
			<div id="share" style="display: none">
				<ul>
					<li><a class="icon" href="#"><i class="fab fa-facebook " aria-hidden="true"></i></a></li>
					<li><a class="icon" href="#"><i class="fab fa-twitter " aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div id="toc">
				<ol class="toc">
					<li class="toc-item toc-level-1">
						<a class="toc-link" href="#Heading-1">
							<span class="toc-number">1.</span>
							<span class="toc-text">Heading 1</span>
						</a>
						<ol class="toc-child">
							<li class="toc-item toc-level-2">
								<a class="toc-link" href="#Heading-2">
									<span class="toc-number">1.1.</span>
									<span class="toc-text">Heading 2</span>
								</a>
							</li>
							<li class="toc-item toc-level-2">
								<a class="toc-link" href="#Table">
									<span class="toc-number">1.4.</span>
									<span class="toc-text">Table</span>
								</a>
							</li>
						</ol>
					</li>
				</ol>
			</div>
		</span>
	</div>
	<div class="content index">
		<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
			<header>
				<h1 class="posttitle" itemprop="name headline">Elements</h1>
				<div class="meta">
					<span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
						<span itemprop="name">Cactus Dark</span>
					</span>
					<div class="postdate">
						<time datetime="2013-12-24T22:29:08.000Z" itemprop="datePublished">24 Dec 2013</time>
					</div>
					<div class="article-tag">
						<i class="fa fa-eye"></i>
						<span>
							<span>268</span>
						</span>
					</div>
					<div class="article-category">
					        <i class="fas fa-archive"></i>
					        <a class="category-link" href="#">Foo</a> › 
							<a class="category-link" href="#">Bar</a> › 
							<a class="category-link" href="#">Baz</a>
					</div>
					<div class="article-tag">
					        <i class="fas fa-tag"></i>
					        <a class="tag-link" href="#">Bar</a>, 
							<a class="tag-link" href="#">Baz</a>, 
							<a class="tag-link" href="#">Foo</a>
					</div>
				</div>
			</header>
			<div class="content" itemprop="articleBody">
				{{content}}
			</div>
		</article>
	
		<div id="footer-post-container">
			<div id="footer-post">
	
			</div>
		</div>
	</div>		
<%- include('_footer',{type: "post"}); %>			