{
    "ejs": [
        "index.ejs",
		"about.ejs",
		"archives.ejs",
		"message.ejs"
    ],
    "js": [
        
    ],
    "css": [
		"css/style.styl",
		"css/rtl.styl"
    ],
    "copy": [
        "images/",
		"js/",
		"lib/"
    ],
	"postTpl":"post.ejs",
	"iframeTpl":"_iframe.ejs",
	"videoTpl":"_video.ejs",
	"renderIntro":false,
	"galleryTpl":"_gallery.ejs",
	"markedRender":{
		"heading":null,
		"link":"<a href='{0}' title='{1}' target='{3}'>{2}</a>",
		"code":"<figure class='highlight {1}'><table><tbody><tr><td class='code'><pre>{0}</pre></td></tr></tbody></table></figure>",
		"highlight":{
			"classPrefix": ""
		},
		"image":"<img src='{0}' title='{1}' alt='{2}' class='post-img-{3}' width='{4}' height='{5}'>"
	}
}